.img{
    width: 100%;
    height: 185px;
    display: block;
    background-size: contain;
    margin: 70px auto;
    background-repeat: no-repeat;
}
[icon-start] ion-icon{
    position: absolute;
    left: 35px;
}
ion-footer{
    box-shadow: none;
    border:none;
}
ion-footer button{
    margin-bottom: 10px !important;
}

> ion-content {
    background: linear-gradient(316deg, #bf4593, #0d466e, #0e5fac, #f53d3d, #39466B, #6faa29);
    background-size: 1800% 1800%;
    animation: rainbow 20s linear infinite;
}
ion-content:after{
    // background-image: url('../assets/img/bg.jpeg');
    display: block;
    width: 100%;
    height: 100%;
    left: 0; right: 0; top: 0;
}
@keyframes rainbow {
    0% {
        background-position: 0% 0%
    }
    50% {
        background-position: 100% 100%
    }
    100% {
        background-position: 0% 0%
    }
}