<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button routerDirection="backward"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-margin padding>
		<h6>Please enter your old password and then a new password.</h6>
		<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
			
		<ion-item no-padding [class.invalid]="form.get('old').invalid">
			<ion-label position="floating">Old Password</ion-label>
			<ion-input formControlName="old" autocomplete="off" type="password" minlength="6" required></ion-input>
		</ion-item>
		<div class="error" *ngIf="form.get('old').hasError('required') && (form.get('old').touched || form.get('old').dirty)">Password is required</div>
		<div class="error" *ngIf="form.get('old').hasError('minlength') && (form.get('old').touched || form.get('old').dirty)">Password length must be >= 6</div>

		<ion-item no-padding [class.invalid]="form.get('pass').invalid">
			<ion-label position="floating">New Password</ion-label>
			<ion-input formControlName="pass" autocomplete="off" type="password" minlength="6" required></ion-input>
		</ion-item>
		<div class="error" *ngIf="form.get('pass').hasError('required') && (form.get('pass').touched || form.get('pass').dirty)">Password is required</div>
		<div class="error" *ngIf="form.get('pass').hasError('minlength') && (form.get('pass').touched || form.get('pass').dirty)">Password length must be >= 6 </div>

		<ion-item no-padding [class.invalid]="form.get('pass2').invalid">
			<ion-label position="floating">New Password Confirmation</ion-label>
			<ion-input formControlName="pass2" autocomplete="off" type="password" required></ion-input>
		</ion-item>
		<div class="error" *ngIf="form.get('pass2').hasError('required') && (form.get('pass2').touched || form.get('pass2').dirty)">Password confirmation is required</div>
		<div class="error" *ngIf="(form.get('pass').value != form.get('pass2').value) && (form.get('pass2').touched || form.get('pass2').dirty)">Password confirmation is not valid</div>

		<div margin-top>
			<ion-button type="submit" shape="round" expand="block" [disabled]="form.invalid || (form.get('pass').value != form.get('pass2').value)">Save</ion-button>
		</div>
		</form>
	</ion-list>
</ion-content>
